site_name: {{github_repo_name}}
site_description: {{short_description}}
site_url: https://{{github_user}}.github.io/{{github_repo_name}}/
repo_name: {{github_user}}/{{github_repo_name}}
repo_url: https://github.com/{{github_user}}/{{github_repo_name}}
nav:
  - Home: index.md
