# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

# Docstrings and comments use max_line_length = 88
[*.py]
max_line_length = 88

# Use 2 spaces for the HTML files
[*.html]
indent_size = 2

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# Shell scripts use tabs for indentation
[*.sh]
indent_style = tab

# PowerShell scripts use tabs for indentation
[*.ps1]
indent_style = tab

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

# YAML files use 2 spaces for indentation
[*.yml, *.yaml]
indent_size = 2

# Markdown files use 2 spaces for indentation
[*.md]
indent_size = 2

# TOML files use 2 spaces for indentation
[*.toml]
indent_size = 2

# Ignore files and directories: node_modules, .git, .vscode, .DS_Store, .venv, .pytest_cache, .ruff_cache
[**]
ignore = node_modules, .git, .vscode, .DS_Store, .venv, .pytest_cache, .ruff_cache
