---
name: Bug report
about: Report a bug in `{{github_repo_name}}`
title: 'Bug: '
labels: bug
assignees: '{{github_user}}'
---
# Bug Report

## Bug Description

<!--
This issue tracker is a tool to address bugs in {{github_repo_name}} itself.
Please use GitHub Discussions for questions about your own code.

Replace this comment with a clear outline of what the bug is.
-->

## How to Reproduce

<!--
Describe how to replicate the bug.

Please provide a minimal reproducible example that developers can run to investigate the problem.
You can find help for creating such an example [here](https://stackoverflow.com/help/minimal-reproducible-example).

Here is an example of a minimal reproducible example for a CLI application:

```shell
{{github_repo_name}} version
```

Include the full traceback if there was an exception. For example:

```shell
# TODO @{{github_user}}: Fill this block.
```

Here is an example of a minimal reproducible example using FastAPI:

```python
# /// script
# requires-python = ">=3.10"
# dependencies = [
#     "{{github_repo_name}}==0.1.0",
# ]
# ///
# TODO @{{github_user}}: Fill this block.

```

Include the full traceback if there was an exception. For example:

```shell
# TODO @{{github_user}}: Fill this block.

```

Read more about inline metadata:
  - [PEP 723 – Inline script metadata | peps.python.org](https://peps.python.org/pep-0723/)
  - [Inline script metadata - Python Packaging User Guide](https://packaging.python.org/en/latest/specifications/inline-script-metadata/)

-->

## Expected Behavior

<!--
Describe the expected behavior that should have happened but didn't.
-->

## Environment

<!--
If the problem is related to the CLI application, simply run `{{github_repo_name}} info` and paste the output here.

```sh
Application Version: 0.1.0
Python Version: 3.10.18 (CPython)
Platform: Darwin
```

Otherwise, please complete the following information:

- {{github_repo_name}} version: [e.g. 0.1.0]
- Backend: [FastAPI, Starlette, ...]

-->

### Additional Context

<!--
Add any other context about the problem here.
-->
