---
name: Feature request
about: Suggest a new feature for `{{github_repo_name}}`
title: 'Enhancement: '
labels: enhancement
assignees: '{{github_user}}'
---
# Feature Request

## Feature Description

<!--
Replace this comment with a description of what the feature should do.
Include details such as links to relevant specs or previous discussions.
-->

## Use Case

<!--
Replace this comment with an example of the problem which this feature
would resolve.
-->
